body
{
	background: #2E3740;
	color: #435160;
	font-family: "Open Sans", sans-serif;
}

a{
	color: white;
}

img
{
	cursor: pointer;
}

#cajon1
{
	float:left;
	margin-left: 2%;
	width: 23%;
	border-right: 1px dotted white;
	height: 600px;
}

#cajon2
{
	float:right;
	width: 72%;
}

.titulo
{
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 2px 2px black;
	padding-top: 10px;
}

a
{
	text-decoration: none;
}

.login
{
	width: 350px;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -175px;
}


input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"], input[type="search"], select {
 width: 90%;
 padding: 20px 0px;
 background: transparent;
 border: 0;
 border-bottom: 1px solid #435160;
 outline: none;
 color: white;
 font-size: 1.5em;
}

input[type="search"]
{
	width: 99%;
}




input[type="button"] {
 background: #1FCE6D;
 border: 0;
 width: 95%;
 height: 40px;
 border-radius: 3px;
 color: #fff;
 font-size: 1.0em;
 cursor: pointer;
 transition: background 0.3s ease-in-out;
}
input[type="button"]:hover {
 background: #16aa56;
 animation-name: shake;
}



::-webkit-input-placeholder {
 color: #435160;
 font-size: 0.8em;
}

hr
{
	margin-bottom: 20px;
	border: 1px solid #435160;
}


.abajo
{
	padding-right: 21px;
	background: url('../img/abajo.png') no-repeat right 5px;
}

.arriba
{
	padding-right: 21px;
	background: url('../img/arriba.png') no-repeat right 5px;
}
